body {
  font-family: 'General Sans', sans-serif;
  background-color: var(--clr-dark);
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.control__buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cards__row {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.header {
  font-size: 3rem;
}

.input__cards {
  width: 15rem;
  border-radius: .5rem;
  border: 2px solid black;
}

#cardsLog {
    margin-top: 2rem;
  }

.body-text {
  color: var(--clr-light);
}

/* xs */
@media (max-width: 475px) {
  .container {
    min-width: 475px;
  }

  .header {
    font-size: 3.5rem;
  }

  .sub-header {
    font-size: 2rem;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    min-width: 640px;
  }
  
}
