body {
  font-family: 'General Sans', sans-serif;
  background-color: var(--clr-dark);
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.control__buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.cards__row {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.header {
  font-size: 3rem;
}

.input__cards {
  width: 100%; /* Set to 100% for better responsiveness */
  max-width: 15rem; /* Use max-width instead of fixed width */
  border-radius: 0.5rem;
  border: 2px solid black;
}

#cardsLog {
  margin-top: 2rem;
}

.body-text {
  color: red;
}

/* xs */
@media (max-width: 475px) {
  .container {
    max-width: 100%; /* Adjust to use max-width */
    padding: 0 1rem; /* Optional: Add padding for better spacing */
  }

  .header {
    font-size: 3.5rem;
  }

  .sub-header {
    font-size: 2rem;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 100%; /* Adjust to use max-width */
    padding: 0 1rem; /* Optional: Add padding for better spacing */
  }
}
