:root {
  --clr-dark: #070a13;
  --clr-light: #f1f5f9;
  --clr-rose: #e11d48;
  --clr-indigo: #4f46e5;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.section {
  margin-top: 3rem;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}



.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-rose);
  color: #f1f5f9;
  padding: 0.5em .9em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5),
    0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  background-color: var(--clr-rose);
  color: var(--clr-light);
  box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25),
    0 10px 10px rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}

.btn2 {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-indigo);
  color: #f1f5f9;
  padding: 0.6em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(75, 0, 130, 0.5),
    0 6px 6px rgba(75, 0, 130, 0.5),
    0 0 100px -10px var(--clr-indigo);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn2:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgba(75, 0, 130, 0.25),
    0 10px 10px rgba(75, 0, 130, 0.22),
    0 0 120px -10px var(--clr-indigo);
    cursor: pointer;
}